{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h3>Student list</h3>
<table class="table">
    <th>
    <tr>
        <th>PHOTO</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>GENDER</th>
        <th>COURSE</th>
    </tr>
    </th>
<tbody>
{% for student in data %}
<tr>
    <td>
        {% if student.image %}
        <img src ="{{ student.image.url }}" alt="{{ student.name }}" style= "width: 80px; height: 80px">

        {% else %}
        <img src = "{% static 'images/placeholder' %}" alt ="No Image" style= "width: 80px;height: 80px">
    {% endif %}
    </td>
    <td>{{ student.name }}</td>
    <td>{{ student.age }}</td>
    <td>{{ student.gender }}</td>
    <td>{{ student.course}}</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock %}