.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1) ;
    max-width: 600px;
    width: 50%;

}
.contact-details h2{
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    color: darkgreen;
}

.contact-details p{
    margin: 5px 0;
    font-family: Arial, sans-serif;
}
.contact-container iframe{
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px

}
        .whatsapp-float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 20px; /* Distance from the bottom of the page */
            right: 20px; /* Distance from the right of the page */
            background-color: #25D366;
            color: #FFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            z-index: 1000;
            text-decoration: none;
        }

        .whatsapp-float img {
            width: 35px; /* Adjust the icon size */
            height: 35px;
        }

        .whatsapp-float:hover {
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        }
